In [ ]:
### for loop notes
-only iterables can added inside for loop(tuple,list,set,string,range)
-

In [1]:
a=(10,20,30,40,50,60,70,80,90,100)

In [2]:
a

(10, 20, 30, 40, 50, 60, 70, 80, 90, 100)

In [4]:
for i in a:
    print(i**2)

100
400
900
1600
2500
3600
4900
6400
8100
10000

In [10]:
for i in {1,2,3,4,5,6,7,8,9,10}:
    if i%2==0:
        print('even number',i)
    else:
        print('odd number',i)

odd number 1
even number 2
odd number 3
even number 4
odd number 5
even number 6
odd number 7
even number 8
odd number 9
even number 10

In [12]:
for i in 'bhuvi':
    print(i)

b
h
u
v
i

In [13]:
a='bhuvi'
len(a)

5

In [14]:
range(a)

TypeError: 'str' object cannot be interpreted as an integer

In [15]:
range(len(a))

range(0, 5)

In [20]:
for i in range(len(a)):
    print(a[i],i)

b 0
h 1
u 2
v 3
i 4

In [21]:
a='bhuvi'

In [22]:
a[1]

'h'

In [23]:
a[0]

'b'

In [24]:
len(a)

5

In [25]:
range(len(a))

range(0, 5)

In [27]:
for i in range(len(a)):
    print(a[i],i)

b 0
h 1
u 2
v 3
i 4

In [28]:
for i in range(0,11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [31]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [34]:
for i in range(1,21):
    if i%2==0:
        print('even no',i)
    else:
        print('odd no',i)

odd no 1
even no 2
odd no 3
even no 4
odd no 5
even no 6
odd no 7
even no 8
odd no 9
even no 10
odd no 11
even no 12
odd no 13
even no 14
odd no 15
even no 16
odd no 17
even no 18
odd no 19
even no 20

In [35]:
for i in range(1, 21):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20

In [41]:
for i in range(1,6):
    print (i*i)

1
4
9
16
25

In [42]:
for i in 'bhuvi':
    print(i)

b
h
u
v
i

In [67]:
for i in 'bhuvi':
    print (i)

b
h
u
v
i

In [69]:
name='bhuvi'
for i in name:
    print(i)

b
h
u
v
i

In [74]:
n=int(input())
for i in range(1,n+1):
    print('i')

 8

i
i
i
i
i
i
i
i

In [43]:
name = "Python"

for ch in name:
    print(ch)

P
y
t
h
o
n

In [45]:
name= 'bhuvi'
for i in name:
    print(i)

b
h
u
v
i

In [58]:
a=int(input('enter a number:'))
for n in range(0,a+1):
    print(n)

enter a number: 6

0
1
2
3
4
5
6

In [53]:
n = int(input("Enter a number: "))

for i in range(1, n + 1):
    print(i)

Enter a number:  8

1
2
3
4
5
6
7
8

In [65]:
a=[1,2,3,4,5]
for i in range(0,6):
    a=i+1
    print('sum:',a)

sum: 1
sum: 2
sum: 3
sum: 4
sum: 5
sum: 6

In [75]:
a=[1,2,3,4,5]
for i in a:
    print(i)

1
2
3
4
5

In [76]:
for n in range(1,7):
    print(n**2)

1
4
9
16
25
36

In [78]:
total=0
for i in range(1,6):
    total=total+i
    print('sum:',total)

sum: 1
sum: 3
sum: 6
sum: 10
sum: 15

In [1]:
total=0
for i in range(1,6):
    total=total+i
print('sum:',total)

sum: 15

In [1]:
a=int(input('enter the numbr:'))
for i in range(1,11):
    print(a,'*',i,'=',a*i)

enter the numbr: 10

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [79]:
num = int(input("Enter a number: "))

for i in range(1, 11):
    print(num, "x", i, "=", num * i)

Enter a number:  5

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [90]:
a='bhuvi'
len(a)

5

In [ ]:
a=input('string:')
for i in text:
    count

In [93]:
text = input("Enter a string: ")

for ch in text:
    count = count + 1

print("Total characters:")

Enter a string:  bhuvi

Total characters:

In [94]:
a=10

In [95]:
print('the number is',a)

the number is 10

In [107]:
for i in range(12):
    if i%2==0:
        print('eve no',i)
    else:
        print('odd no',i)

eve no 0
odd no 1
eve no 2
odd no 3
eve no 4
odd no 5
eve no 6
odd no 7
eve no 8
odd no 9
eve no 10
odd no 11

In [108]:
for bhuvi in range(11):
    if bhuvi%3==0:
        print('yes',bhuvi)
    else:
        print('no',bhuvi)

yes 0
no 1
no 2
yes 3
no 4
no 5
yes 6
no 7
no 8
yes 9
no 10

In [2]:
a=int(input('num'))
for i in range(1,11):
    print(a,'X',i,'=',a*i)

num 10

10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100

In [ ]:
a=input('string:')
for i in a:

In [112]:
a='python'

In [113]:
len(a)

6

In [118]:
text=input('enter a string:')
count=0
for i in text:
    count=count+1
    print('string value:',count)

enter a string: bhuvi

string value: 1
string value: 2
string value: 3
string value: 4
string value: 5

In [6]:
something=[1,2,3,34]
variable = 0
for item in something:
    variable = variable+item

print(variable)

40

In [123]:
total = 0

for i in range(1, 6):
    total = total + i

print("Sum:", total)

Sum: 15

In [ ]:
### CLASS 2

In [9]:
a=[1,2,3,4,5,6,7]
sum(a)
b=0
for i in a:
    b=b+i
print('b in loop',i,'value of b is',b)

b in loop 7 value of b is 28

In [5]:
a=[1,2,3,4,5,6,7]
b=0
for i in a:
    b=b+i
print('b in loop',i,'value of b is',b)

b in loop 7 value of b is 28

In [1]:
a=[1,2,3,4,5,6,7,8,9]
sum(a)

45

In [7]:
b=0
for i in a:
    b=b+i
    print('b in loop of',i,'the value is',b)

b in loop of 1 the value is 1
b in loop of 2 the value is 3
b in loop of 3 the value is 6
b in loop of 4 the value is 10
b in loop of 5 the value is 15
b in loop of 6 the value is 21
b in loop of 7 the value is 28

In [18]:
a=[2,3,4,5,6,7,8,9]
b=1
for i in a:
    b=b*i
    print('b in loop of',i,'value is',b)

b in loop of 2 value is 2
b in loop of 3 value is 6
b in loop of 4 value is 24
b in loop of 5 value is 120
b in loop of 6 value is 720
b in loop of 7 value is 5040
b in loop of 8 value is 40320
b in loop of 9 value is 362880

In [39]:
a=int(input('enter the factorial:'))
b=1
for i in range(1,a+1):
    b=b*i
    print('b in the loop of',i,'value is',b)

enter the factorial: 5

b in the loop of 1 value is 1
b in the loop of 2 value is 2
b in the loop of 3 value is 6
b in the loop of 4 value is 24
b in the loop of 5 value is 120

In [7]:
a=int(input('enter the factorial:'))
b=1
for i in range(1,a+1):
    b=b*i
print(b)

enter the factorial: 5

120

In [9]:
a=int(input('factorial value:'))
b=1
if a==0:
    print('factorial value is 1')
else:
    for i in range(1,a+1):
        b=b*i
    print('b in the loop of',i,'value is',b)

factorial value: 5

b in the loop of 5 value is 120

In [31]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [46]:
a='bhuvi'
for i in range(len(a),0,-1):
    print(a[i-1])

i
v
u
h
b

In [45]:
a='priya'
for i in range(len(a),0,-1):
    print(a[i-1])

a
y
i
r
p

In [48]:
a='kavi'
b=''
for i in range(len(a),0,-1):
    b=b+a[i-1]
    print(b)

i
iv
iva
ivak

In [10]:
a='bhuvi'
b=''
for i in range(len(a),0,-1):
    b=b+a[i-1]
print(b)

ivuhb

In [49]:
a='karthiga'
b=''
for i in range(len(a),0,-1):
    b=b+a[i-1]
print(b)

agihtrak

In [56]:
a='sjnnuncbubsdsivubiubvsksjvwvwoud'
a.count('u')+a.count('a')+a.count('e')+a.count('i')+a.count('o')

8

In [11]:
a='nsnowubnfowububvkwjnwouwonlj'
b=0
for i in a:
    if i=='a' or i=='e'or i=='i' or i=='o' or i=='u':
        b=b+1
print(b)

8

In [67]:
a='dbfviaibbfviasbdvasadbvasiidubvabfavsjdvasub'

In [69]:
len(a)

44

In [13]:
b=0
c=0
for i in a:
    if i=='a' or i=='e' or i=='i' or i=='o' or i=='u':
        b+=1
    else:
        c+=1
print('vowel value',b)
print('consonant value',c)

vowel value 8
consonant value 20

In [72]:
 c

29

In [73]:
b+c

44

In [76]:
for i in range(5):
    print('bhuvi')

bhuvi
bhuvi
bhuvi
bhuvi
bhuvi

In [77]:
for i in range(5):
    print('bhuvi')
    for j in range(3):
        print('kavi')

bhuvi
kavi
kavi
kavi
bhuvi
kavi
kavi
kavi
bhuvi
kavi
kavi
kavi
bhuvi
kavi
kavi
kavi
bhuvi
kavi
kavi
kavi

In [79]:
for i in range(5):
    print('bhuvi')
    for j in range(3):
        print('kavi')
        for k in range(2):
            print('priya')

bhuvi
kavi
priya
priya
kavi
priya
priya
kavi
priya
priya
bhuvi
kavi
priya
priya
kavi
priya
priya
kavi
priya
priya
bhuvi
kavi
priya
priya
kavi
priya
priya
kavi
priya
priya
bhuvi
kavi
priya
priya
kavi
priya
priya
kavi
priya
priya
bhuvi
kavi
priya
priya
kavi
priya
priya
kavi
priya
priya

In [78]:
for i in range(5):
    print('bhuvi')
for j in range(3):
        print('kavi')

bhuvi
bhuvi
bhuvi
bhuvi
bhuvi
kavi
kavi
kavi