In [ ]:
A docstring is a special comment used to explain what your code or function does.

-Written using triple quotes
-Used by Python tools and editors
-Helps you and others understand the code later

In [1]:
a=[1,2,3,4]

In [ ]:
a.append()

In [2]:
def summation(a,b,c,d,e,f):
    """
    this function returns a+b+c+d+e+f
    """

In [ ]:
b=summation()

In [3]:
### finding the length by different method

In [11]:
len([1,2,3,4,4,5,3,2,1,7])

10

In [17]:
def bhuvi(a):
    b=0
    for i in a:
        b=b+1
    return(b)

In [18]:
bhuvi([1,2,3,4,3,4,6,7])

8

In [19]:
len([1,2,3,4,3,4,6,7])

8

In [27]:
### FUNCTIONS-keyword is def
reason to do functions:
*for code reusability
# there are 2 types of functions
1-Default function-built in functions
2-Custom functions-user defined functions(def)
*when you return more than one value in function it'll return as Tuple only

SyntaxError: invalid syntax (97853326.py, line 2)

In [21]:
def bhuvi(a,b):
    """we gonna add,sub,mul and divide"""
    c=a+b
    d=a-b
    e=c*d
    f=e/c
    return(f)

In [25]:
abhi=bhuvi(20,10)

In [26]:
abhi

10.0

In [1]:
#Write a function that checks whether a number is even or odd.
def a(n):
    if n%2==0:
        return 'even'
    else:
        return 'odd'

In [3]:
b=a(10)

In [4]:
b

'even'

In [6]:
#Write a function to find the maximum of two numbers
def a(b,c):
    if b>c:
        return b
    elif b<c:
        return c
print(a(40,50))

50

In [7]:
a(60,30)

60

In [10]:
#Check positive, negative or zero
def number(n):
    if n>0:
        return 'positive'
    elif n<0:
        return 'negative'
    else:
        return 'zero'
print(number(10))

positive

In [17]:
#Count characters in a string
def characters(n):
    count=0
    for i in n:
        count=count+1
    return count
print(characters('python'))

6

In [15]:
characters('bhuvi')

5

In [25]:
#Write a function that returns the sum of elements in a list
def sum(*a):
    b=0
    for i in a:
        b=b+i
    return b

In [28]:
sum(9,7,10,30)

56

In [29]:
#Write a function to find the largest number in a list
def max(a):
    max_value=a[0]
    for i in a:
        if i>max_value:
            max_value=i
    return max_value

In [31]:
max([10,20,29,3490,500])

3490

In [33]:
#Write a function to reverse a string
def reverse(n):
    rev=''
    for i in n:
        rev=i+rev #Note:each new letter goes to the front, not the end.
    return rev

In [34]:
reverse('bhuvi')

'ivuhb'

In [1]:
def sum(*n):
    print(n)

In [2]:
sum(1,2,3,3,4,5)

(1, 2, 3, 3, 4, 5)

In [42]:
def square(a):
    return[i*i for i in range(1,a+1)]
print(square(7))

[1, 4, 9, 16, 25, 36, 49]

In [44]:
square(9)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [47]:
#Return only even numbers from a list
def even(*num):
    return[i for i in num if i%2==0]

In [48]:
even(1,2,3,5,5,6,6)

[2, 6, 6]

In [51]:
def eve_odd(*num):
    return[('even',i) if i%2==0 else ('odd',i) for i in num]

In [52]:
eve_odd(1,2,3,54,5,6,8,9,6,5,3)

[('odd', 1),
 ('even', 2),
 ('odd', 3),
 ('even', 54),
 ('odd', 5),
 ('even', 6),
 ('even', 8),
 ('odd', 9),
 ('even', 6),
 ('odd', 5),
 ('odd', 3)]

In [56]:
#Convert all strings in a list to uppercase
def text(*a):
    return[i.upper() for i in a]

In [57]:
text('bhuvi','karthi')

['BHUVI', 'KARTHI']

In [5]:
#variable length argument-keyword is *
def sum(*n):
    d=0
    for i in n:
        d+=i
    print(d)

In [6]:
sum(19293,38393,38393,383930,3830)

483839

In [10]:
def mul(*n):
    d=1
    for i in n:
        d*=i
    print(d)

In [11]:
mul(1,2,3,4,5)

120

In [12]:
def mul(*n):
    d=1
    for i in n:
        d*=i
    return(d)

In [13]:
n=mul(1,2,3,4,5)

In [14]:
n

120

In [17]:
def college(name,*marks,age):
    print('name=',name)
    a=1
    for i in marks:
        a+=i
    print('total marks=',a)
    print('age=',age)

In [18]:
college('bhuvi',10,30,40,50,100,age=24)

name= bhuvi
total marks= 231
age= 24

In [19]:
# keyword variable length argument(kwargs)
# keyword is **
# it saves it as dictionary

In [20]:
def test(**kwargs):
    print(kwargs)

In [22]:
test(name='bhuvi',age=24,roll=3849)

{'name': 'bhuvi', 'age': 24, 'roll': 3849}

In [27]:
def test(**n):
    for i,j in n.items():
        print(i,j)

In [28]:
test(name='bhuvi',age=20,roll=101919)

name bhuvi
age 20
roll 101919

In [1]:
# converting local variable into global variable by using keyword "global"
def test():
    global a
    a=10
    print(a)

In [2]:
test()

10

In [3]:
a

10

In [ ]:
### Recursive function
-function that calls itself
it's uses:
-we can reduce the length of the code and improves reusability
-complete the problems in easier way

In [8]:
def factorial(n):
    b=1
    if n==0:
        print(1)
    for i in range(1,n+1):
        b=b*i
    print(b)

In [12]:
factorial(5)

120

In [13]:
def factorial(n):
    if n==0:
        b=1
    else:
        b=n*factorial(n-1)
    return b #most important=we should give return here then only recursive will take place

In [14]:
factorial(5)

120

In [24]:
# Find sum of first N numbers
def sum(n):
    if n==0:
        return 0
    return n+sum(n-1)

In [25]:
sum(5)

15

In [58]:
#Print numbers from 1 to N
def numbers(n):
    if n==0:
        return
    numbers(n-1)
    print(n)

In [59]:
numbers(5)

1
2
3
4
5

In [60]:
#Print numbers from N to 1
def reverse(n):
    if n==0:
        return
    print(n)
    reverse(n-1)

In [61]:
reverse(5)

5
4
3
2
1

In [62]:
#Count digits in a number
def count(n):
    if n==0:
        return 0
    return 1+count(n//10) #// means floor division (integer division),It removes the last digit of a number.

In [65]:
count(12334655066)

11

In [66]:
def even(n):
    if n<0:
        return
    if n%2==0:
        print(n)
    even(n-1)

In [67]:
even(10)

10
8
6
4
2
0

In [ ]:
### Anonymous function or lambda function
keyword is lambda
Important rules:
-No def
-No function name (unless assigned to a variable)
-No return keyword
-Only one expression allowed

When Should You Use Lambda?
Use lambda when:
✔ Function is very small
✔ Used only once
✔ Inside map/filter/sorted

In [15]:
lambda n:n*n

In [16]:
a=lambda n:n*n

In [17]:
a(7)

49

In [18]:
lambda a,b:a if a>b else b

In [19]:
a=lambda a,b:a if a>b else b

In [20]:
a(5,3)

5

In [21]:
a= lambda a,b:a if a%2==0 else b

In [22]:
a(1,2)

2

In [68]:
#Add two numbers
add=lambda a,b:a+b

In [72]:
add(155,22)

177

In [ ]:
# do practice lambda by using list comprehension

In [ ]:
#FILTER

In [73]:
#Keep only even numbers
num=[1,2,3,4,5,6,7,8]
result=list(filter(lambda x:x%2==0,num))
print(result)

[2, 4, 6, 8]

In [74]:
#Keep words longer than 3 letters
word=['bhuvi','python','hi','bye']
result=list(filter(lambda w:len(w)>3,word))
print(result)

['bhuvi', 'python']

In [77]:
#Keep only positive numbers
a=[-1,-4,-5,3,2,2,1]
b=list(filter(lambda x:x>=0,a))
print(b)

[3, 2, 2, 1]

In [86]:
#filter() with a normal function (not lambda)
def even(x):
    return x%2==0
num=[2,3,4,4,5,6,7]
a=list(filter(even,num))
print(a)

[2, 4, 4, 6]

MAP|

In [ ]:
-map() transforms data
-IT KEEPS THE LIST SIZE SAME
-It works element by element
-Needs list() to see result
-Mostly used with lambda
When SHOULD you use map()?
✔ When same operation is applied to all elements
✔ When function is small
✔ When code readability matters

In [78]:
#Square each number
a=[1,2,3,4,5]
b=list(map(lambda x:x**2,a))
print(b)

[1, 4, 9, 16, 25]

In [79]:
#Add 1 to every number
a=[1,2,3,4,5,6,7]
b=list(map(lambda x:x+1,a))
print(b)

[2, 3, 4, 5, 6, 7, 8]

In [81]:
#Convert strings to uppercase
a=['bhuvi','python','guido']
b=list(map(lambda x:x.upper(),a))
print(b)

['BHUVI', 'PYTHON', 'GUIDO']

In [85]:
#map() with a normal function (not lambda)
def square(x):
    return x*x
num=[2,3,4,5]
a=list(map(square,num))
print(a)

[4, 9, 16, 25]

REDUCE

In [ ]:
->reduce() takes many values and reduces them to ONE single value.
->reduce() is not built-in in Python
->You must import it before using it
     VERY IMPORTANT
->The function inside reduce() must take TWO arguments

map → change
filter → choose
reduce → combine


nums
 ↓
filter()   → gives filtered values
 ↓
map()      → gives transformed values
 ↓
reduce()   → combines values into ONE result

In [105]:
num=[1,2,3,4,5]
a= reduce(lambda a,b:a+b,num)
print(a)

15

In [90]:
v=[2,3,4,5,6,6,6]

In [100]:
v

[2, 3, 4, 5, 6, 6, 6]

In [101]:
reduce(lambda a,b:a+b,v)

32

In [102]:
#Sum of squares of even numbers
num=[1,2,3,4,5,6] #Use list() to SEE data 
                  #Skip list() when PASSING data
even=filter(lambda x:x%2==0,num)
square=map(lambda x:x**2,even)
result=reduce(lambda x,y:x+y,square)
print(result)

56

In [103]:
#Sum of squares of even numbers
num=[1,2,3,4,5,6] #Use list() to SEE data 
                  #Skip list() when PASSING data
even=filter(lambda x:x%2==0,num)
square=map(lambda x:x**2,even)
result=reduce(lambda x,y:x+y,square)
print(result)

56

In [104]:
#Product of positive numbers after doubling them
nums = [-2, 3, -1, 4, 5]
positive=filter(lambda x:x>0,nums)
doubling=map(lambda x:x*2,positive)
result=reduce(lambda x,y:x*y,doubling)
print(result)

480

In [107]:
#Total length of words longer than 3 characters
letter=['bhuvi','hi','python','hey','guido']
leng=filter(lambda x:len(x)>3,letter)
lengt=map(lambda x:len(x),leng)
charac=reduce(lambda x,y:x+y,lengt)
print(charac)

16

In [108]:
#Sum of cubes of odd numbers
num=[1, 2, 3, 4, 5]
odd=filter(lambda x:x%2!=0,num)
cube=map(lambda x:x**3,odd)
result=reduce(lambda x,y:x+y,cube)
print(result)

153

In [ ]:
Function	Lambda arguments	 Why
map()	           1	        One element at a time
filter()	       1	        One element to check
reduce()	       2	        Combine two values
lambda (general) Any number	    No restriction