In [1]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [ ]:
###Create a list of 5 numbers and print the sum of all elements

In [6]:
a=[3]
b=[4]
c=[5]
d=[6]
e=[7]
print(sum(a+b+c+d+e))

25

In [7]:
a=[10,20,30,40,50]
print(sum(a))

150

In [3]:
a=[1,2,3,4,5]
b=0
for i in a:
    b=b+i
print(b)

15

In [ ]:
###Find the maximum and minimum element in a given list

In [10]:
a=10
b=12
a<b

True

In [1]:
a=[10,20,50,30,70]
b=[90,40,70,60,30]
print(max(b) or max(a))
print(min(b) or min(a))

90
30

In [18]:
a=[10,20,50,30,70]
b=[90,40,70,60,30]
print(max(b) and max(a))
print(min(b) and min(a))
### the reason here it chooses the second option is because "and" logical operator-if both are true in AND operator it'll choose the second value only

70
10

In [2]:
a=[585,62738,75859]
max(a)

75859

In [19]:
a=[60,90,120,40,20,10]
print('the maximum:',max(a))
print('the minimum:',min(a))

the maximum: 120
the minimum: 10

In [20]:
###Count how many even numbers are in a list.

In [6]:
a=[1,2,3,4,40,5,50,70,55,77,33]
b=0
for i in a:
    
    if i%2==0:
        b=b+1
print('total even no:',b)

total even no: 5

In [26]:
a=[11,22,33,44,5,55,66,77]
for i in a:
    if i%2==0:
        print('eve no',i)
    else:
        print('odd no',i)

odd no 11
eve no 22
odd no 33
eve no 44
odd no 5
odd no 55
eve no 66
odd no 77

In [10]:
a=[11,22,33,44,5,55,66,77]
b=0
for i in a:
    if i%2==0:
        b=b+1
print(b)

3

In [13]:
a=[11,22,33,44,5,55,66,77]
b=0
c=0
for i in a:
    if i%2==0:
        b=b+1
print(b)

3

In [15]:
a=[11,22,33,44,55,666,77,88]
b=0
for i in a:
    if i%2==0:
        b=b+1
print(b)

4

In [27]:
a=[11,12,23,34,45,56,67,78,89,99]
for i in a:
    if i%2==0:
        print('even no',i)
    else:
        print('odd no',i)

odd no 11
even no 12
odd no 23
even no 34
odd no 45
even no 56
odd no 67
even no 78
odd no 89
odd no 99

In [ ]:
###Reverse a list without using reverse() or slicing.

In [29]:
a=[22,3,4,5,6,7,88]
a[::-1]

[88, 7, 6, 5, 4, 3, 22]

In [30]:
a[::]

[22, 3, 4, 5, 6, 7, 88]

In [17]:
a='bhuvi'
for i in range(len(a),0,-1):
    print(i-1)

4
3
2
1
0

In [18]:
a='bhuvi'
for i in range(len(a),0,-1):
    print(a[i-1])

i
v
u
h
b

In [22]:
a=[1,2,3,4,5,6]
b=[]
for i in range(len(a),0,-1):
    b=b+a[i-1]
    print(b)

TypeError: can only concatenate list (not "int") to list

In [19]:
a='bhuvi'
b=''
for i in range(len(a),0,-1):
    b=b+a[i-1]
    print(b)

i
iv
ivu
ivuh
ivuhb

In [21]:
a='bhuvi'
b=''
for i in range(len(a),0,-1):
    b=b+a[i-1]
print(b)

ivuhb

In [ ]:
###Write a program to check if an element exists in a list.

In [31]:
a=[12,23,34,5,6,7,78,88]
23 in a

True

In [32]:
77 in a

False

In [33]:
###Create a tuple with 10 numbers and print only the odd numbers.

In [37]:
a=(1,2,3,4,5,6,7,8,9,10)
for i in a:
    if i%2!=0:
        print('odd no',i)

odd no 1
odd no 3
odd no 5
odd no 7
odd no 9

In [26]:
a=(1,2,3,4,5,6,7,8,9,10)
b=0
for i in a:
    if i%2!=0:
        b=b+1
print(b)

5

In [ ]:
###Convert a tuple into a list and add a new element.

In [41]:
tup=(10,20,30,40,50)
lst=list(tup)
print(lst)

[10, 20, 30, 40, 50]

In [45]:
tup=(1,2,3,4,5,6,7,8,9,10)
lst=list(tup)
lst.append(30)
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 30]

In [46]:
tup=(2,34,56,78,89)
lst=list(tup)
lst.append(90)
print(lst)

[2, 34, 56, 78, 89, 90]

In [3]:
a=(1,2,3,4,5,6)
b=list(a)
b.append(90)
print(b)

[1, 2, 3, 4, 5, 6, 90]

In [49]:
### Write a program to count the frequency of each element in a list.

In [51]:
a=[1,2,3,4,1,2,3,4]
freq(2)

NameError: name 'freq' is not defined

In [55]:
data = [1, 2, 2, 3, 1, 2]
freq = {}

for item in data:
    if item in freq:
        freq[item] = freq[item] + 1
    else:
        freq[item] = 1

print(freq)

{1: 2, 2: 3, 3: 1}

In [28]:
a=[1,2,3,4,5,6,1,2,3,4,5]
b={}
for i in a:
    if i in b:
        b[i]=b[i]+1
    else:
        b[i]=1
print(b)

{1: 2, 2: 2, 3: 2, 4: 2, 5: 2, 6: 1}

In [53]:
data

[1, 2, 2, 3, 1, 2]

In [5]:
num=[1,1,2,2,3,3,3,4,4,5]
freq={}
for i in num:
    if i in freq:
        freq[i]=freq[i]+1
    else:
        freq[i]=1
print(freq)

{1: 2, 2: 2, 3: 3, 4: 2, 5: 1}

In [ ]:
###Write a program to check if a list is sorted or not.
here sorted means the given object(list or tuple or set) is in descending or in ascending order(either one)

In [30]:
a=[1,2,3,4,5,6]
for i in range(len(a)-1):
    if a[i]>a[i]+1:
        print('not sorted')
        break
else:
    print('sorted')

sorted

In [35]:
a=int(input('enter the series:'))
for i in range(len(a)-1):
    if a[i]>a[i]+1:
        print('not sorted')
        break
else:
    print('sorted')

enter the series: [1,2,3,4,5]

ValueError: invalid literal for int() with base 10: '[1,2,3,4,5]'

In [ ]:
###Write a program to remove duplicates from a list.

In [43]:
a=(1,2,3,4,5,4,3,2,1)
b=[]
for i in a:
    if i not in b:
        b.append(i)
result=tuple(b)
print(result)

(1, 2, 3, 4, 5)

In [44]:
a='entrepreneur'
b=''
for i in a:
    if i not in b:
        b=b+i
print(b)

entrpu

In [49]:
a='programming'
b=''
for i in a:
    if i not in  b:
        b=b+i
print(b)

progamin

In [ ]:
###Write a dictionary with names as keys and marks as values, then print all students who scored more than 50.

In [52]:
a={'bhuvi':50,
   'kavi':100,
   'abhi':90,
   'jija':95}
for i in a:
    if a[i]>50:
        print(i)

kavi
abhi
jija

In [55]:
a={"Arun": 78,
    "Bala": 45,
    "Chitra": 92,
    "Deepa": 50,
    "Eshan": 64}
for i in a:
    if a[i]>50:
        print(i)

Arun
Chitra
Eshan

In [56]:
### Merge two dictionaries into one.

In [59]:
a={'a':2,'b':3}
b={'c':4,'d':5}
c={}
for i in a:
    c[i]=a[i]
for i in b:
    c[i]=b[i]
print(c)

{'a': 2, 'b': 3, 'c': 4, 'd': 5}

In [62]:
a={'a':2,'b':3}
b={'b':5,'c':4}
c={}
for i in a:
    c[i]=a[i]
for i in b:
    c[i]=b[i]
print(c)

{'a': 2, 'b': 5, 'c': 4}

In [ ]:
### Write a program to get the value of a key safely from a dictionary (use .get()).

In [1]:
marks={'bhvuvi':100,
      'kavi':120,
      'abhi':120,
      'jija':150}
print(marks.get('jija'))

150

In [2]:
marks={'bhvuvi':100,
      'kavi':120,
      'abhi':120,
      'jija':150}
print(marks.get('priya'))

None

In [4]:
name = "Bala"
mark = marks.get(name, 50)

if mark >= 50:
    print("Pass")
else:
    print("Fail or not found")

Pass

In [9]:
name={'bhuvi':100,
     'kavi':100}
students=['bhuvi','kavi','priya','karthiga']
for i in students:
    marks=name.get(i,'no record found')
    print(i,':',marks)

bhuvi : 100
kavi : 100
priya : no record found
karthiga : no record found

In [11]:
name={'kavi':200,
     'priya':800,
     'karthiga':700,
     'palani':1000}
students=['palani','kavi','karthiga','priya','bhuvi']
for i in students:
    marks=name.get(i,'no record found')
    print(i,':',marks)

palani : 1000
kavi : 200
karthiga : 700
priya : 800
bhuvi : no record found

In [ ]:
###Write a program to swap keys and values in a dictionary.

In [8]:
a={'a':1,
  'b':2,
  'c':3}
b={}
for key,value in a.items():
    b[value]=key
print(b)

{1: 'a', 2: 'b', 3: 'c'}

In [16]:
a={'a':20,
  'b':30,
  'c':40}
b={}
for key,value in a.items():
    b[value]=key
print(b)

{20: 'a', 30: 'b', 40: 'c'}

In [17]:
a={'bhuvi':100,
      'kavi':200,
    'priya':300}
b={}
for name,mark in a.items():
    b[mark]=name
print(b)

{100: 'bhuvi', 200: 'kavi', 300: 'priya'}

In [11]:
a={'a':1,
  'b':2,
  'c':3}
print(a.items())

dict_items([('a', 1), ('b', 2), ('c', 3)])

In [13]:
a={'a':1,
  'b':2,
  'c':3}
for key,value in a.items():
    print(key,value)

a 1
b 2
c 3

In [15]:
a={'a':1,
  'b':2,
  'c':3}
for key,value in a.items():
    print(key,'is',value)

a is 1
b is 2
c is 3

In [14]:
marks={'bhuvi':100,
      'kavi':200,
    'priya':300}
for name,score in marks.items():
    print(name,'scored',score)

bhuvi scored 100
kavi scored 200
priya scored 300

In [ ]:
###Create a dictionary of 5 students with their marks and find the student with the highest marks

In [19]:
a={'bhuvi':70,
  'kavi':80,
  'karthiga':100,
  'priya':90}
topper=''
highest_mark=0
for name,mark in a.items():
    if mark>highest_mark:
        highest_mark=mark
        topper=name
print(topper,':',highest_mark)

karthiga : 100

In [22]:
a={'bhuvi':700,
  'kavi':804,
  'karthiga':1000,
  'priya':903}
topper=''
top_score=0
for name,mark in a.items():
    if mark>top_score:
        top_score=mark
        topper=name
print(topper)
print(top_score)

karthiga
1000

In [ ]:
### Write a program that checks whether a given number is positive, negative, or zero (if-elif-else)

In [30]:
a=int(input('enter the number:'))
if a>0:
    print('positive no')
elif a<0:
    print('negative no')
else:
    print('zero it is')

enter the number: 007

positive no

In [31]:
### Write a program that takes a number and prints whether it is divisible by 3 and 5 or not.

In [39]:
a=int(input('enter the number:'))
if a%3==0 and a%5==0:
    print('yes it is divisible by 3 and 5')
else:
    print('it is not divisible by 3 and 5')

enter the number: 45

yes it is divisible by 3 and 5

In [ ]:
### Write a program that takes a character and checks if it is a vowel or consonant.

In [45]:
a=input('enter a character:')
if a in 'aeiou':
    print('it is a vowel')
elif a in 'AEIOU':
    print('it is a vowel')
else:
    print('it is a consonant')

enter a character: B

it is a consonant

In [ ]:
### Print multiplication table of a given number using a for loop.

In [46]:
a=int(input('enter the number:'))
for i in range(1,11):
    print(a,'x',i,'=',a*i)

enter the number: 10

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [ ]:
### Write a program to calculate factorial of a number using a for loop.

In [48]:
a=int(input('enter the factorial:'))
b=1
for i in range(1,a+1):
    b=b*i
print('the factorial value is',b)

enter the factorial: 5

the factorial value is 120